*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: system-ui, sans-serif;
}

body{
  height:100vh;
  background: linear-gradient(180deg,#0a8f3c,#055a26);
  display:flex;
  justify-content:center;
  align-items:center;
  color:white;
}

/* App */
.app{
  width:100%;
  max-width:420px;
  height:100vh;
  padding:20px;
  display:flex;
  flex-direction:column;
}

/* Progress */
.progress{
  width:100%;
  height:6px;
  background: rgba(255,255,255,.2);
  border-radius:10px;
  overflow:hidden;
  margin-bottom:20px;
}

#bar{
  height:100%;
  width:0%;
  background:white;
  transition:.3s;
}

/* Card */
.card{
  flex:1;
  background: rgba(0,0,0,.35);
  border-radius:20px;
  padding:25px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  backdrop-filter: blur(8px);
}

.counter{
  font-size:14px;
  opacity:.8;
}

/* Question */
h2{
  font-size:22px;
  line-height:1.4;
  margin:20px 0;
}

/* Answers */
.answers{
  display:flex;
  flex-direction:column;
  gap:12px;
}

.answers button{
  padding:14px;
  border:none;
  border-radius:14px;
  background: rgba(255,255,255,.15);
  color:white;
  font-size:16px;
  cursor:pointer;
  transition:.2s;
}

.answers button:hover{
  background: rgba(255,255,255,.3);
}

.answers button.active{
  background: #22c55e;
  color:black;
  font-weight:700;
}

/* Next */
#nextBtn{
  margin-top:20px;
  padding:14px;
  border:none;
  border-radius:16px;
  background:white;
  color:#055a26;
  font-size:17px;
  font-weight:700;
  cursor:pointer;
}

#nextBtn:hover{
  opacity:.9;
}

/* Result */
.result{
  flex:1;
  background: rgba(0,0,0,.5);
  border-radius:20px;
  padding:30px;
  text-align:center;
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap:15px;
}

.hidden{
  display:none;
}

.restart {
    background-color: #0a8f3c;
    color: #fff8f8 !important;
    text-decoration: none !important;
    padding: 12px 25px;
    border-radius: 40px;
    font-weight: 800;
    font-size: 15px;
    width: fit-content;
    cursor: pointer;
    border: none;
    display: block;    /* Blok ko'rinishida */
    margin: 20px auto; /* 20px tepadagi masofa, auto esa markazga olish uchun */
}